/* .home { */
  /* background-color: #2578c1;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
} */

/* .logo--home{
  width: 50%
}

.img--logo--home {
  width: 100%
}

.text--logo{
  display: inline-block;
}

.form {
  float: right;
  width: 80%
}

.input--form {
  width: 9em;
  border-radius: 3px;
  padding: 1em 0.5em;
  border: 1px solid grey;
  outline: none;
  margin: .12em .5em .5em 0;
}

.search--form {
  padding: .7rem .3rem;
} */